{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="row my-2">
    <div class="col-4 text-center my-5 text-light">
        <h1 class="mt-5"> Stay connected </h1>
        <h3 class="mt-5"> Mantusingh87635@gmail.com</h3>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit" target="_blank">
                <img src="{% static 'images/linkedin.png' %}" alt="images/linkedin.png" width="50" height="50" class="social_links">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100074667060764&mibextid=ZbWKwL" target="_blank">
                <img src="{% static 'images/facebook.png' %}" alt="images/facebook.png" width="50" height="50" class="social_links">
            </a>
            <a href="https://youtube.com/@smart_mantu_singh?si=VnLV9oJD14HOR24k" target="_blank">
                <img src="{% static 'images/youtube.png' %}" alt="images/youtube.png" width="50" height="50" class="social_links">
            </a>
            <a href="https://www.instagram.com/its.royal.nauty.boy_95?igsh=MWtpN2sxb2tqbDJ0ag==" target="_blank">
                <img src="{% static 'images/instagram.png' %}" alt="images/instagram.png" width="50" height="50" class="social_links">
            </a>
        </div>
    </div>

    {% csrf_token %}
    <div class="container form-container">
      <form class="p-4 border rounded" style="border-color: #ccc;">
          <div class="form-group m-3">
              <label for="exampleInputEmail1" class="text-light">Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="form-group m-3">
              <label for="email" class="text-light">Email</label>
              <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group m-3">
              <label for="phone" class="text-light">Phone no</label>
              <input type="tel" class="form-control" id="phone">
          </div>
          <div class="form-group m-3">
              <label for="msg" class="text-light">Message</label>
              <textarea class="form-control" id="msg" rows="2"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
  

</div>
{% endblock content1 %}
